@media screen and (max-width:700px) {
    header .container{
        flex-direction: column;
    }

    .botao{
        margin-top: 5px;
        width: 200px;
    }
}

@media screen and (min-width:701px) {
    header .container{
        max-width: 95%;
    }
    header nav a{
        margin-left: 10px;
    }
}